@import '~bootstrap/scss/bootstrap'; 

/* @import '@fontsource/montserrat.css';

@import './vars'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: $main-fonts; */
  background-color: #1E2D3B;
}